@font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: url('../fonts/materialize-icons/MaterialIcons-Regular.eot'); /*for IE6-8*/
        src: local('Material Icons'),
	     local('MaterialIcons-Regular'),
	     url('../fonts/materialize-icons/MaterialIcons-Regular.woff2') format('woff2'),
	     url('../fonts/materialize-icons/MaterialIcons-Regular.woff') format('woff'),
	     url('../fonts/materialize-icons/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;

        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;

        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
}

#sidenav-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 120vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	will-change: opacity;
}
